:root {
  /* Colors */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-bg: #28ffbf;
  --clr-gray: #716f81;
  --clr-popup: #020202a2;
  --clr-highlight: #ff3d68;
  --clr-button: #f2e1c1;

  /* Font Sizes */
  --font-micro: 0.75rem;
  --font-small: 1rem;
  --font-normal: 1.5rem;
  --font-large: 3rem;

  /* Font Weight */
  --weight-bold: 700;

  /* Radius */
  --rad-border: 0.25em;

  /* Image Size */
  --img-size: 512px;
}

/* Global Tags*/
* {
  box-sizing: border-box;
  font-family: "Baloo Chettan 2", cursive, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-bg);
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

button {
  border: 1px solid var(--clr-gray);
  border-radius: var(--rad-border);
  margin-bottom: 0.25em;
  outline: none;
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-color: var(--clr-button);
  font-size: var(--font-large);
  transition: transform 250ms ease-in;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

/* Typography */
h1,
p {
  margin: 0;
}

.highlight {
  color: var(--clr-highlight);
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Description */
.description {
  margin: 1em 0;
  text-align: center;
}

/* Field */
.field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  height: 80%;
  background: url("./images/bg.jpg") center/cover no-repeat;
  cursor: url("./images/icons8-fire-48.cur") 15 15, auto;
}

.field__setting {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: var(--font-normal);
  color: var(--clr-white);
  text-shadow: 4px 4px 2px rgba(77, 76, 76, 0.5);
  transition: transform 200ms ease-in;
}

.field__setting:hover {
  transform: scale(1.2);
}

.field__game-info {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-large);
  color: var(--clr-white);
}

.field__play-btn:hover,
.field__replay-btn:hover {
  transform: scale(1.1);
}

.field__timer {
  margin-bottom: 0.25em;
  padding: 0 0.25em;
  border: 1px solid var(--clr-white);
  border-radius: var(--rad-border);
  background-color: var(--clr-black);
  line-height: var(--font-large);
}

.field__minute,
.field__second {
  display: inline-block;
  width: 3.25rem;
}

.field__counter {
  padding: 0 0.45em;
  border: 1px solid var(--clr-white);
  border-radius: var(--rad-border);
  background-color: var(--clr-black);
  line-height: var(--font-large);
}

/* Setting */
.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 30%;
  bottom: 25%;
  border-radius: var(--rad-border);
  width: 40%;
  height: 25%;
  font-size: var(--font-normal);
  background-color: var(--clr-popup);
  color: var(--clr-white);
  visibility: hidden;
}

.setting.active {
  visibility: visible;
}

.setting__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.setting__item input {
  margin-left: 0.25em;
  width: 50px;
  font-size: var(--font-small);
}

.setting__submit-btn {
  height: 40px;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
}

.setting__submit-btn:hover {
  transform: scale(1.1);
}

/* Game Board */
.field__game-board {
  position: relative;
  width: 100%;
  height: 100%;
}

.field__game-board img {
  position: absolute;
  height: calc(var(--img-size) / 5);
  transition: transform 200ms ease-in;
}

.field__game-board img:hover {
  transform: scale(1.1);
}

/* Popup */
.field__popup {
  position: absolute;
  left: 25%;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--rad-border);
  width: 50%;
  height: 25%;
  background-color: var(--clr-popup);
  visibility: hidden;
}

.field__popup.active {
  visibility: visible;
}

.field__popup-text {
  text-align: center;
  color: var(--clr-white);
  font-size: var(--font-normal);
}

/* Footer */
.footer {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-micro);
}

.footer__rights {
  font-size: var(--font-small);
}

.footer__github {
  font-size: var(--font-normal);
  transition: transform 300ms ease-in-out;
}

.footer__github:hover {
  color: var(--clr-highlight);
  transform: scale(1.25);
}

@media screen and (max-width: 768px), screen and (max-height: 900px) {
  /* Global Tags */
  button {
    height: 1.5em;
    width: 1.5em;
    font-size: 0.65em;
    padding: 0;
  }

  /* Typography */
  h1 {
    font-size: var(--font-normal);
  }

  p {
    font-size: var(--font-normal);
  }

  /* Description */
  .description {
    margin: 0.25em 0;
  }

  .description__details {
    display: none;
  }

  /* Field */
  .field {
    width: 97.5%;
    height: 97.5%;
  }

  .field__game-info {
    margin-top: 0.25em;
  }

  .field__timer,
  .field__counter {
    line-height: var(--font-normal);
  }

  .field__minute,
  .field__second {
    width: 1.75rem;
  }

  /* Game Board */
  .field__game-board img {
    height: calc(var(--img-size) / 8);
  }

  /* Popup */
  .field__popup {
    left: 15%;
    bottom: 15%;
    width: 70%;
    height: 35%;
  }

  .field__popup-text {
    font-size: var(--font-small);
  }

  .field__replay-btn {
    font-size: 1.75em;
  }

  /* Setting */
  .setting {
    left: 17.5%;
    bottom: 2.5%;
    width: 65%;
    height: 50%;
  }

  .setting__list {
    font-size: var(--font-small);
  }

  .setting__submit-btn {
    height: 30px;
    width: 80px;
  }

  /* Footer */
  .footer,
  .footer__rights {
    font-size: calc(var(--font-micro) / 2);
  }
}

@media screen and (max-height: 450px) {
  /* Global Tags */
  button {
    padding: 0;
    font-size: 0.35em;
  }

  /* Typography */
  h1 {
    font-size: var(--font-micro);
  }

  /* Game Board */
  .field__game-board img {
    height: calc(var(--img-size) / 10);
  }

  /* Popup */
  .field__replay-btn {
    font-size: 1.25em;
  }
}
